<?xml version='1.0' encoding='utf-8'?>
<widget id="com.landamortization.tracker" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Land Amortization Tracker</name>
    <description>Offline Land Amortization Tracker with SQLite and Google Drive export</description>
    <author email="support@gezynejamir.com" href="https://gezynejamir.com">
        Gezyne-Jamir Software Tech
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="public/logo.png" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidWindowSoftInputMode" value="adjustResize" />
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="android-compileSdkVersion" value="34" />
        <preference name="android-buildToolsVersion" value="36.1.0" />
        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="StatusBarBackgroundColor" value="#0f172a" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <preference name="loadUrlTimeoutValue" value="70000" />
        <preference name="SplashScreenBackgroundColor" value="#0f172a" />
        <splash src="public/logo.png" />
    </platform>
</widget>
